@use 'cdk-table-columns' as *;
@use 'rem-calc' as *;

jira-issues-list {

  display: block;
  width: 100%;

  h3 {
    margin: 0 0 1rem;
    font-size: 1.25rem;
  }

  table {
    table-layout: fixed;

    @include cdk-table-columns(
      (
        key: (
          width: rem-calc(100px),
        ),
        summary: (
          width: auto,
        ),
        priority: (
          width: rem-calc(130px),
        ),
        actions: (
          width: rem-calc(80px),
        ),
      )
    );
  }
}
