$icomoon-font-family: "workpulse" !default;
$icomoon-font-path: "../../fonts" !default;

$workpulse-icon-query_stats: "\e910";
$workpulse-icon-bookings: "\e909";
$workpulse-icon-chevron_left: "\e90d";
$workpulse-icon-chevron_right: "\e90e";
$workpulse-icon-today: "\e90f";
$workpulse-icon-refresh: "\e90c";
$workpulse-icon-open: "\e908";
$workpulse-icon-test: "\e90a";
$workpulse-icon-speed: "\e90b";
$workpulse-icon-extension: "\e906";
$workpulse-icon-bug: "\e907";
$workpulse-icon-toolkit: "\e905";
$workpulse-icon-preview: "\e904";
$workpulse-icon-start: "\e902";
$workpulse-icon-stop: "\e903";
$workpulse-icon-task-list: "\e901";
