@let resource = issueService.list;

@if (resource.isLoading()) {
  <p class="workpulse-loading">Laden…</p>
}

@if (resource.error()) {
  <p class="workpulse-error">Fehler: {{ resource.error() }}</p>
}

@if (resource.hasValue()) {
  <table cdk-table [dataSource]="resource.value().data" [trackBy]="trackByIssueKey">
    <!-- Key -->
    <ng-container cdkColumnDef="key">
      <th cdk-header-cell *cdkHeaderCellDef></th>
      <td cdk-cell *cdkCellDef="let issue">
        <div class="d-flex">

          <!-- TODO wir sollten dafuer ein Enum generieren wenn noch keines existiert -->
          <mat-icon
            [class]="{
              'workpulse-icon-bug': issue.issueType === 'BUG',
              'workpulse-icon-feature': issue.issueType === 'FEATURE',
            }"
          ></mat-icon>

          <!-- TODO wir sollten dafuer ein Enum generieren wenn noch keines existiert -->
          <mat-icon
            [class]="{
              'workpulse-icon-open': issue.status === 'TO_DO',
              'workpulse-icon-toolkit': issue.status === 'IN_PROGRESS',
              'workpulse-icon-test': issue.status === 'TEST',
            }"
          ></mat-icon>

          @if (issue.isTracking) {
            <mat-icon class="workpulse-icon-speed"></mat-icon>
          }
        </div>
      </td>
    </ng-container>

    <!-- Summary -->
    <ng-container cdkColumnDef="summary">
      <th cdk-header-cell *cdkHeaderCellDef>Summary</th>
      <td cdk-cell *cdkCellDef="let issue">
        [{{ issue.key}}] - {{ issue.summary }}
      </td>
    </ng-container>

    <!-- Status -->
    <ng-container cdkColumnDef="status">
      <th cdk-header-cell *cdkHeaderCellDef>Status</th>
      <td cdk-cell *cdkCellDef="let issue"></td>
    </ng-container>

    <!-- Priority -->
    <ng-container cdkColumnDef="priority">
      <th cdk-header-cell *cdkHeaderCellDef>Priorität</th>
      <td cdk-cell *cdkCellDef="let issue">
        {{ issue.priority?.name ?? '—' }}
      </td>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <th cdk-header-cell *cdkHeaderCellDef></th>
      <td cdk-cell *cdkCellDef="let issue">
        <div class="btn-group">
          <button mat-icon-button (click)="startSession(issue)">
            <mat-icon class="workpulse-icon-start"></mat-icon>
          </button>

          <button mat-icon-button (click)="stopSession()">
            <mat-icon class="workpulse-icon-stop"></mat-icon>
          </button>

          <button mat-icon-button>
            <mat-icon class="workpulse-icon-preview"></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Header Row -->
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>

    <!-- Data Rows -->
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
}
