@if (focusedTask(); as issue) {
  <dl>
    <dt>Key:</dt>
    <dd>{{ issue.key }}</dd>
    <dt>Typ:</dt>
    <dd>{{ issue.issueType }}</dd>
    <dt>Titel:</dt>
    <dd>{{ issue.summary }}</dd>

    @if (issue.description) {
      <dt>Beschreibung:</dt>
      <dd>
        <jf-teaser>
          <div [innerHTML]="issue.description | safeHtml"></div>
        </jf-teaser>
      </dd>
    }
    <dt>Web:</dt>
    <dd>
      <a href="{{ issue.jiraUrl }}" target="_blank">{{ issue.key }}</a>
    </dd>
  </dl>
}
