<div class="row">
  <!-- Ganz normales HTML-Input mit Tailwind-Styling -->
  <div class="form-field">
    <label>Issue</label>
    <input
      type="text"
      #search
      [matAutocomplete]="auto"
      class="form-ctrl"
      (input)="issueSelectorService.setFilter(search.value)"
    />
  </div>

  <!-- Das freistehende Material-Autocomplete-Panel -->
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayWithIssueKey">
    @for (issue of issueSelectorService.filteredIssues(); track issue.id) {
      <mat-option [value]="issue">
        [{{issue.issueType}}]: {{ issue.key }}
      </mat-option>
    }
  </mat-autocomplete>
</div>

<div class="row">
  @let selected = issueSelectorService.selectedIssue();

  @if (selected) {
    <h4> {{ selected.key }}</h4>
    <p>
      {{ selected.summary }}
    </p>
  }

</div>
