$icomoon-font-family: "workpulse" !default;
$icomoon-font-path: "../../fonts" !default;

$workpulse-icon-open: "\e908";
$workpulse-icon-timeline: "\e909";
$workpulse-icon-test: "\e90a";
$workpulse-icon-speed: "\e90b";
$workpulse-icon-extension: "\e906";
$workpulse-icon-bug: "\e907";
$workpulse-icon-toolkit: "\e905";
$workpulse-icon-preview: "\e904";
$workpulse-icon-start: "\e902";
$workpulse-icon-stop: "\e903";
$workpulse-icon-task-list: "\e901";
$workpulse-icon-home: "\e900";

