.jf-teaser {
  display: flex;
  flex-direction: column;
  width: 100%;

  .jf-teaser-content {
    line-height: 1.6;
    color: var(--vscode-editor-foreground);
    display: -webkit-box;

    // Im geschlossenen Zustand: Auf 4 Zeilen begrenzen
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .jf-teaser-toggle {
    color: var(--vscode-textLink-foreground);
    display: inline-block;
    padding: .25rem 0;
    cursor: pointer;
  }

  // ==========================================================================
  // DER OFFEN-ZUSTAND
  // ==========================================================================
  &.is-open {
    .jf-teaser-content {
      display: block; // Zeilenbegrenzung aufheben
      overflow-y: auto; 

      line-clamp: 4;
      -webkit-line-clamp: 4;
    }
  }
}
