.jf-btn {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: 1px solid var(--vscode-button-border);

  border-radius: 4px;
  padding: 0.25rem .5rem;
  cursor: pointer;
}
