@use '../functions/rem-calc' as *;

.btn-group {
  display: inline-flex;
  align-items: center;

  $borderRadius: rem-calc(4px);

  --mat-icon-button-touch-target-size: #{rem-calc(36px)};
  --mat-icon-button-container-shape: 0;

  // Alle Material-Buttons innerhalb der Gruppe anpassen
  .mat-mdc-button-base {
    margin: 0; // Entfernt jegliche Standard-Abstände zwischen den Buttons

    height: rem-calc(26px);
    padding: 0 rem-calc(5px);

    &:not(:last-child) {
      box-shadow: 1px 0 0 0 var(--vscode-panel-border);
    }

    &:first-child {
      --mat-icon-button-container-shape: #{$borderRadius} 0 0 #{$borderRadius};
    }

    &:last-child {
      --mat-icon-button-container-shape: 0 #{$borderRadius} #{$borderRadius} 0;
    }
  }
}
