@use '../functions/rem-calc' as *;

.workpulse-widget {
  border: 1px solid var(--vscode-widget-border);
  border-radius: rem-calc(4px);
  display: block;

  &-header {
    background-color: var(--vscode-activityBar-activeBackground, rgba(0, 0, 0, 0.15));
    padding: 0.5rem 2px .5rem 1rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem-calc(40px);

    .mat-mdc-button-base {
      height: auto !important;
      border-radius: rem-calc(4px) !important;
    }
  }

  &-body {
    padding: .5rem 1rem;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 .5rem 0.25rem;
  }
}
